/* reset pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sfondo e font*/
body{
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

/* inizio stile header */
header{
    height: 100px;

    background-color: white;

}

.logo{
    height: 80px;
    vertical-align: middle;
    margin: 10px;
}

.logo-text{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}
/* fine stile header */

.section-btn, .section-task{
    background-color: white;
    width: 80%;
    line-height: 60px;
    padding-left: 60px;
}

/* inizio stile sezione bottoni */
.section-btn{
    height: 60px;
    margin: 40px auto 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn{
    padding: 0px 10px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

#task-btn{
    color: white;
    background-color: #48ADF1;
    border: 1px solid #48ADF1;
}

#sec-btn{
    color: gray;
    background-color: white;
    border: 1px solid gray;
}
/* fine stile sezione bottoni */


/* sezione dei task*/
.section-task{
    height: 750px;
    margin: 4px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* freccia triangolare */
h2::before{
    content: "\25BE ";
    margin-right: 10px;
}

/* inizio stile spunta e croce*/
.check, .cross{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    display: inline-block;
}

.check{
    color: green;
    border: 1px solid green;
}

.cross{
    color: red;
    border: 1px solid red;
}
/* fine stile spunta e croce*/


/* stile dei task*/
ul, li{
    display: block;
    text-decoration: none;
}


/* inizio stile bottoni colorati*/
.color-btn{
    color: white;
    font-size: 12px;
    margin-left: 8px;
    padding: 5px 10px;
    border-radius: 15px;
}

.btn-editorial{
    background-color: #48ADF1;
}

.btn-q1{
    background-color: #9C72E4;
}

.btn-recru{
    background-color: #63C0A9;
}

.btn-mobile{
    background-color: #F29E33;
}
.btn-website{
    background-color: #D863A1;
}
.btn-sales{
    background-color: #B0C927;
}
/* fine stile bottoni colorati*/
